*{
    font-family: fantasy;
    color: rgba(128, 0, 0, 0.815) ;
  }
 
  body{
     background-image: url(https://st1.uvnimg.com/dims4/default/1397738/2147483647/thumbnail/1024x576%3E/quality/75/?url=https%3A%2F%2Fuvn-brightspot.s3.amazonaws.com%2Fassets%2Fvixes%2Fbtg%2Ftech.batanga.com%2Ffiles%2FFondos-para-paginas-web-02.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     background-attachment: fixed
    }
 
  img{
    border-radius: 50%;
  }
 
 div.punteo{
    color:rgb(207, 111, 22);
    text-align: left;
 }
 
 p, div, h1{
    text-align: center;
 }
 table{
    width: 100%;
 }
 th, td {
    width: 25%;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #000
 }
 
 .títulos{
    text-decoration: underline;
 }
 
 h1{
    color:rgba(128, 0, 0, 0.514)   ;
 }
 
 th.sinborde{
    border: none;
    }
 
 p#examen{
    background-color: beige;
 }
 
 p#contacto{
    text-decoration: underline;
 }
 
 
 